<h1>memo</h1>

<table>
    <tr><th>Id</th><th>タイトル</th></tr>
    <% @hash.each do |hash| %>
        <tr>
            <td><%= hash["id"] %></td>
            <td><a href='/show/<%= hash["id"] %>'><%= hash["title"] %></a></td>
        </tr>
    <% end %>
</table>
<p><a href='/new'>新規メモ</a></p>


